<?php
/** @var So_Banner_Block_Banners $this */
$banners = $this->getBanners();
?>

<?php if (count($banners)): ?>
    <div id="bannerTransitions" class="homepage-banner">
        <?php foreach ($banners as $banner): ?>
            <?php echo $this->getBannerHtml($banner); ?>
        <?php endforeach; ?>

        <?php if (count($banners) > 1): ?>
            <div class="carousel-navigation-wrapper wrapper container-fluid">
                <ul class="nav nav-blocks nav-justified carousel-navigation">
                    <?php $i = 0; foreach ($banners as $banner): ?>
                        <li>
                            <a href="#" data-carousel-goto="<?php echo $i; ?>">
                                <span><?php echo $banner->getTitle(); ?></span>
                            </a>
                        </li>
                    <?php ++$i; endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>
    </div>

    <?php if (count($banners) > 1): ?>
        <script type="text/javascript">
            var bannerAnimation = new BannerAnimation({
                selector: '#bannerTransitions',
                animateTime: <?php echo Mage::getStoreConfig('cms/banner_options/animation_time'); ?>,
                animateDelay: <?php echo Mage::getStoreConfig('cms/banner_options/animation_delay'); ?>
            });
            bannerAnimation.start();
        </script>
    <?php endif; ?>
<?php endif; ?>
