<?php $banner = $this->getBanner(); ?>
<div class="banner" style="background-image: url('<?php echo $banner->getPath(); ?>');">
    <?php if ($banner->getLink()): ?>
        <a href="<?php echo $banner->getLink(); ?>"><?php echo $banner->getTitle(); ?></a>
    <?php endif; ?>

    <?php echo $this->getContent(); ?>
</div>
