<?php
/** @var $this JT_Banner_Block_Banner */
$banners = $this->getBanners();
$wrapper = $this->getWrapperId();
$content = $this->getContentId();
?>

<?php if (count($banners)): ?>
    <div class="banners">
        <div class="banner-wrapper" id="<?php echo $wrapper; ?>">
            <div class="banner-content" id="<?php echo $content; ?>">
            <?php foreach ($banners as $banner): ?>
                <div class="banner">
                <?php if ($banner->getLink()): ?>
                    <a href="<?php echo $banner->getLink(); ?>">
                <?php endif; ?>
                    <img src="<?php echo $banner->getPath(); ?>" alt="<?php echo $banner->getTitle(); ?>" />
                <?php if ($banner->getLink()): ?>
                    </a>
                <?php endif; ?>
                </div>
            <?php endforeach; ?>
            </div>
        </div>

        <a href="javascript:;" class="banner-control carousel-control" id="banner-button-prev" rel="prev">&laquo; Prev</a>
        <a href="javascript:;" class="banner-control carousel-control" id="banner-button-next" rel="next">Next &raquo;</a>
    </div>

    <?php if (count($banners) > 1): ?>
        <script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS); ?>banners/carousel.js"></script>
        <script type="text/javascript">
            var content = $('<?php echo $content; ?>');
            var banners = $$('#<?php echo $content; ?> .banner');

            new Carousel('<?php echo $wrapper; ?>', banners, $$('a.carousel-control'), {
                circular: true,
                wheel: false,
                auto: true,
                effect: 'fade',
                frequency: 7.5
            });
        </script>
    <?php endif; ?>
<?php endif; ?>
